/Proyecto3/Ejemplo/Clientes/HolaMundoClient/nbproject/private/
/Proyecto3/Ejemplo/Clientes/HolaMundoClient/build/
/Proyecto3/ClienteJava/TicTacToeClient/nbproject/private/
/Proyecto3/ClienteJava/TicTacToeClient/build/
/Proyecto3/ClienteJava/Botones/nbproject/private/
/Proyecto3/ClienteJava/Botones/build/
/Proyecto3/ClienteJava/TicTacToeClient - copia(funciona juego)/build/
/Proyecto3/ClienteJava/TicTacToeClient - copia(funciona juego)/nbproject/private/
/Proyecto3/ClienteJava/TicTacToeClient - copia/build/
/Proyecto3/ClienteJava/TicTacToeClient - copia/nbproject/private/
/Proyecto3/ClienteJava/TicTacToeClient2/build/
/Proyecto3/ClienteJava/TicTacToeClient2/nbproject/private/
/Proyecto3/TicTacToeClient - copia(funciona juego)/build/
/Proyecto3/TicTacToeClient - copia(funciona juego)/nbproject/private/
/Proyecto3/TicTacToeClient - copia/build/
/Proyecto3/TicTacToeClient - copia/nbproject/private/
/Proyecto3/ClienteJava/TicTacToeClient2/dist/